 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Standards

//colors

$color1: black;
$color2: #e20017;  //Red
$color3: #1a92d8; //Blue
$color4: #77d624; //Green
$color5: #fc8e28; //Orange
$color6: #bf62e6; //Purple
$color7: #faf333; //Yellow
$color8: white;
$color0: white;

//heights

$std325:  325px;
$std28:   28px;


$fontfamily2: "Helvetica Neue", Helvetica, Arial, sans-serif;


//Mixins


// Custom Styles

/* {
  border: 1px solid black;
} */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.Header {
  padding-top:50px;


  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.Title {
  font-size: 100px;
  margin: 0px auto 0 auto;
  color: $color4;
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
}

.Subtitle {
  font-size: 24px;
  margin-top: 0px;
  text-align: center;
}

.HeaderLeft {
  float: left;
  position: relative;
  top: 3%;
  left: 50px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $color1;
  }

  img {
    height:30%;
    width: 30%;
  }

}

.HeaderRight {
  float: right;
  position: relative;
  top: 24px;
  right: 50px;
  font-family:$fontfamily2;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $color1;
  }

  img {
    height: 10px;
    width: 10px;
  }
}

.HeaderRight {
  float: right;
  position: relative;
  top: 24px;
  right: 50px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $color1;
  }
}
.main {

  margin: 50px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $color4;
  border-radius: 6px;
  padding: 60px;
  border-top: 2px solid $color2;

  .user {
    background-color: $color3;
    margin: 15px auto 0 auto;
    border-radius: 15px;
    border: 1px solid $color5;
  }

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  h2{
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
  }

  h3 {
    color: $color2;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  text-align:center;
  clear: both;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  overflow:hidden;
}

.box {
  width: 200px;
  height: auto;
  position: relative;
  text-align: center;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;

  img{
    border-radius: 15px;
  }

  }

.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:2px;
  overflow:hidden;
  word-break:normal;
  text-align: center;
  }

.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:2px;
  border-color: $color2;
  overflow:hidden;
  word-break:normal;
  }

.click {
  width: 200px;
  border-top: 3px solid $color1;
  opacity: 0.5;
}

  img {
    height: 100%;
    width: 100%;
  }

.checkbox{
  margin: 0;
}


   p.text {
  background-color: $color2;
  font-weight: bold;
  }


.name {

}

.Phone {


}

.email {


}

//Submit button formating

.Submit{
  clear: both;
  text-align: center;

button {
  @include button(shiny, #ff0000);
  padding: 45px;
}

//Base formating

.Base {
  background-color: $color1;
  color: $color3;
  height: 74px;
  font-size: 1px2;
}

.BaseLeft {
  float: left;
  position: relative;
  padding-top: 1%;
  padding-left: 10%;

  img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
}

.BaseLeft li {
  vertical-align: middle;
}

.BaseRight {
  float: right;
  position: relative;
  padding-top: 2.5%;
  padding-right: 10%;
}

.Innerbox {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid $color3;
}

.Endbox {
  padding-left: 10px;
  padding-right: 10px;
}
