 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Standards

//colors

$color1: black;
$color2: e20017;  //Red
$color3: #1a92d8; //Blue
$color4: #77d624; //Green
$color5: #fc8e28; //Orange
$color6: #bf62e6; //Purple
$color7: white;
$color8: white;
$color0: white;

//heights

$std325:  325px;
$std28:   28px;



//Mixins


// Custom Styles

/* {
  border: 1px solid black;
}*/

body {
  background-color: $color3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  @include button(shiny, #ff0000);
}

.Title{
  margin: 50px auto 0 auto;
  color: $color1;
  text-align: center;
}

.main {

  margin: 50px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $color4;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.button {
  text-align:center;
  clear: both;
}

.tableoutline{

}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  overflow:hidden;
}

.box {
  width: 200px;
  height: auto;
  position: relative;
  text-align: center;

  ul{
    display:none;
      }
    }

  td{
    border: 2px solid $color6;
  }

 .box:hover{
    opacity: 1;
    ul {
      display:block;
        }
      }


.click {
  width: 200px;
  height: auto;
  border-top: 3px solid $color1;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  background-color: $color2;
}

  img {
    height: 100%;
    width: 100%
  }




/*  p.text {
  color: blue;
  position: absolute;
  top: 10;
  left: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  }
*/

.name {

}

.Phone {


}

.email {


}

//Submit button formating

.Submit{
  clear: both;
  text-align: center;
}

//Base formating

.Base {
  background-color: $color1;
  color: $color3;
  height: 74px;
  font-size: 1px2;
}

.BaseLeft {
  float: left;
  position: relative;
  padding-top: 1%;
  padding-left: 10%
}

.BaseLeft li {
  vertical-align: middle;
}

.BaseRight {
  float: right;
  position: relative;
  padding-top: 2.5%;
  padding-right: 10%;
}

.Innerbox {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid $color3;
}

.Endbox {
  padding-left: 10px;
  padding-right: 10px;
}
